/* Reset some default styles
nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  flex: 1;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
} */

.navbar {
  margin-bottom: 20px;
}

.nav-link {
  margin-right: 15px;
}

